body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 20%;
  background-color: #1c1c1c;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-left {
   display: contents;
}

.avatar {
  width: 60%;
  height: 28%;
  border-radius: 30%;
  background-color: #333;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 30%;
}

.logo{
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.icon {
  width: 35px;
  height: 35px;
  filter: invert(1); /* Inverte il colore delle linee di un'immagine png --> da nero a bianco */
  object-fit:cover;
  margin-right: 5%;
}

.gitIcon {
  width: 25px;
  height: 25px;
  filter: invert(1); /* Inverte il colore delle linee di un'immagine png --> da nero a bianco */
  object-fit:cover;
  margin-right: 8px;
  border-radius: 50%;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.role {
  background-color: #2e2e2e;
  padding: 0.3rem 0.8rem;
  border-radius: 20px;
  font-size: 0.9rem;
  margin-bottom: 20%;
}

.contact {
  width: 100%;
}

.contact-item {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.logo-item {
  width: 30%;
  margin-top: 3rem;
  align-self: flex-start;
}

.item {
  margin-top: 2%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.main {
  flex: 1;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* sempre 2 colonne */
  gap: 1.5rem;
}

.card {
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imgProject{
  width: 80%;
  height: auto;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
}

.card-title {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.card-subtitle {
  font-size: 0.85rem;
  color: #aaa;
}

a {
  color: #4A90E2;
}

a:hover {
  text-decoration: underline;
}


@media (max-width: 1024px) {
  body {
    flex-direction: column;
  }

  .sidebar {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
  }

  .sidebar-left {
    width: 100%;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .logo-item {
    display: none;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 1.5rem;
    gap: 0.5rem;
    font-size: 1rem;
  }

  .contact-item {
    margin-bottom: 0px;
  }

  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 30%;
    background-color: #333;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .name {
    font-size: 1rem;
    margin: 0;
    text-align: left;
  }

  .role {
    width: 125px;
    font-size: 0.8rem;
    margin: 0;
    background-color: #2e2e2e;
    border-radius: 12px;
    padding: 4px 10px;
    text-align: center;
  }

  .main {
    padding: 1rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .contact-item {
    font-size: 0.70rem;
  }
}